<div class="container" id="about">

    <div class="col-md-6 text-center">

        <br><br><br><br><br><br><br><br><br><br>
        <h2>上海古斯新能源科技有限公司</h2>
        <p>上海古斯是一家，从事基础油国内外贸易的综合公司，位于上海闵行区虹桥</p>
    </div>

    <div class="col-md-6">
        <div class=" about_msg">
            <address>
                <br><br><br><br>
                <strong><h4>联系我们：</h4></strong>
                <br>
                王经理 17717489888（手机/微信）
                <br>
                <br>
                朱经理 17717493888（手机/微信）
                <br>

            </address>
            <hr>

            <strong>
                <h4>愿景：</h4>
            </strong>
            <p>
                做服务最好的基础油供应商

            </p>

            <hr>

            <strong>
                <h4>关于本站：</h4>
            </strong>
            <p>
这里是上海古斯公司的，官网，您可以了解所有古斯的公司信息。
            </p>
        </div>
    </div>

</div>
